/* MAIN */

main {
    width: 90%;
    margin: 0 auto;
  }
  
  main section article {
    background-color: var(--blanco);
    margin: 10px 0;
  }
  
  main section article:hover {
    box-shadow: 0px 0px 10px rgb(100 100 100);
  }
  
  main section article img {
    width: 100%;
  }
  
  h2,
  .description {
    color: var(--gris-oscuro);
  }
  
  .price {
    font-size: var(--text-lg);
    /* width: 30%; */
  }
  
  .discount,
  .description {
    font-size: var(--text-md);
  }
  
  .description {
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  
  main section article:hover .description {
    opacity: 1;
  }
  
  main section article i,
  .discount {
    color: var(--verde);
  }
  /* 
  .discount {
    width: 70%;
  } */
  
  main section article i {
    font-size: var(--text-md);
    border: 1px solid var(--verde);
    border-radius: 50%;
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--blanco);
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 0.3s ease-in;
  }
  
  main section article:hover i {
    transform: rotate(-90deg);
  }
  
  main section h3 {
    margin: 20px 0px;
  }
  
  article div.product-card {
    width: 100%;
    border: 1px solid var(--gris-claro);
    padding: 15px;
    position: relative;
  }